ModelsAtRuntimeConstraints/.idea/
**/target/
**/idea/
**/.idea/
end-user-modeling-constraint-framework-gremlin/.idea/
end-user-modeling-constraint-framework-shacl/.idea/
end-user-modeling-constraint-framework-spec/.idea/omt-odt-plugin-settings.xml