ModelsAtRuntimeConstraints/.idea/
**/target/
**/idea/
**/.idea/
end-user-modeling-constraint-framework-gremlin/.idea/
end-user-modeling-constraint-framework-shacl/.idea/
end-user-modeling-constraint-framework-spec/.idea/omt-odt-plugin-settings.xmleumcd-case-study/eumcd-case-study.iml
eumcd-case-study/eumcd-case-study.iml
